<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.tempestgf.steeringwheel">

    <!-- Permisos -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-feature android:name="android.hardware.touchscreen.multitouch" android:required="true" />

    <uses-permission android:name="android.permission.VIBRATE" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/minimal"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/minimal"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:screenOrientation="landscape"
        tools:ignore="DiscouragedApi">

        <!-- SplashActivity como LAUNCHER -->
        <activity
            android:name="com.tempestgf.steeringwheel.SplashActivity"
            android:exported="true"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- MainActivity ya no es LAUNCHER -->
        <activity
            android:name="com.tempestgf.steeringwheel.MainActivity"
            android:exported="true"
            android:screenOrientation="landscape" />

        <!-- Otras actividades -->
        <activity android:name="com.tempestgf.steeringwheel.AboutActivity" android:screenOrientation="landscape" />
        <activity android:name=".SteeringWheelActivity" android:screenOrientation="landscape" />
        <activity android:name="com.tempestgf.steeringwheel.SettingsActivity" android:screenOrientation="landscape" />

        <!-- Servicio -->
        <service
            android:name="com.tempestgf.steeringwheel.NotificationBlockerService"
            android:enabled="true"
            android:exported="false" />
    </application>
</manifest>
